.container {
  min-height: 100%;
  border: 0;
}

.page-header {
	background-color: #CCC;
	text-align: center;
	margin: 0px auto;
	padding: 10px;
	border-radius: 5px;
	width: 98%;
	box-shadow: 5px 5px #7F7F7F;
}

h4 {
	text-align: center;
}

#article {
	height:100px;
	width:500px;
	text-align: center;
	border-radius: 10px;
  	margin: 0 auto; 
}

.box {
	width:150px; 
	height:150px;
	text-align: center;
	border-radius: 10px;
	-moz-box-shadow: 10px 10px 5px 0px #888;
	-webkit-box-shadow: 10px 10px 5px 0px #888;
	box-shadow: 10px 10px 5px 0px #888;*/
}

p {
	display: table-cell; 
	width: 150px; 
	height: 150px; 
	vertical-align: middle; 
	text-align: center; 
	font-family: arial; 
	font-size: 35pt; 
	color: #CCC;
}

/*the usual suspects begin*/

.float_right{
	float: right;
}

.float_left{
	float: left;
}

/*needed to cause auto expansion of container div*/
.clearboth {
	clear: both;
}

/*the usual suspects end*/

html {
    height: 100%;
    }

body {
    height: 100%;
    }